.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

/* #app button.toggle:active {
  color: red;
} */

/* .btn.btn-secondary {
  background-color: orange
}

.btn.btn-secondary:active,
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  background-color: orange !important;
}


.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: orange;
} */

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: orange;
}

/* .btn.btn-secondary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn.btn-secondary.focus,
.btn.btn-secondary:focus {
  color: red;
  background-color: #5cb85c;
  border-color: #5cb85c;
  outline: none;
  box-shadow: none;
}
.btn.btn-secondary:hover {
  color: red;
  background-color: #5cb85c;
  border-color: #5cb85c;
  outline: none;
  box-shadow: none;
}
.btn.btn-secondary.active,
.btn.btn-secondary:active {
  color: red;
  background-color: #5cb85c;
  border-color: #5cb85c;
  outline: none;
}
.btn.btn-secondary.active.focus,
.btn.btn-secondary.active:focus,
.btn.btn-secondary.active:hover,
.btn.btn-secondary:active.focus,
.btn.btn-secondary:active:focus,
.btn.btn-secondary:active:hover {
  color: orange;
  background-color: orange;
  border-color: orange;
  outline: 8px ridge rgba(170, 50, 220, .6);
  box-shadow: none;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
